<%# form 파셜 템플릿 파일 %>
<%= simple_form_for(@bulletin) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description, input_html: { rows: 5 } %>
    <%# enum_option_pairs() 메소드 사용 에러로 인한 사용자 사전 정의 %>
    <%= f.input :post_type_cd, collection: [['0', 'bulletin'], ['1', 'blog'], ['2', ' gallery']], label_method: :second, value_method: :first%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to 'Show', @bulletin, class: 'btn btn-default' if @bulletin.persisted? %>
    <%= link_to 'List', bulletins_path, class: 'btn btn-default' %>
  </div>
<% end %>